/* Grid */

  .form-widget .button:hover {
    background-color: #2a2a2a;
  }
  
  .form-widget .button > .loader {
    width: 17px;
    animation: spin 1s linear infinite;
    filter: invert(1);
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Spacing between links */
  }

  .form-inline-error-message {
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0; 
    text-align: left;
  }
  